.DS_Store
Thumbs.db
desktop.ini

venv/
env/
ENV/
.venv/
__pycache__/
*.py[cod]

*.log
*.tmp
*.bak
*.swp
*.swo

.ipynb_checkpoints/

*.sqlite3

data/raw/*
data/processed/*
reports/*
figures/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!reports/.gitkeep
!figures/.gitkeep